<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">2105</property>
        <property name="show_sql">true</property>

        <mapping class="com.ab.eduplatform.entity.User"/>
        <mapping class="com.ab.eduplatform.entity.Course"/>
        <mapping class="com.ab.eduplatform.entity.Lesson"/>
        <mapping class="com.ab.eduplatform.entity.Progress"/>
        <mapping class="com.ab.eduplatform.entity.Certificate"/>
    </session-factory>
</hibernate-configuration>
